.card {
  min-height: 100vh;
  background-color: white;
}

.card__main {
  padding: 40px;
  padding-block-start: 24px;
  text-align: center;
  color: var(--lavender);
  background-color: var(--royal-blue);
  background-image: linear-gradient(
    180deg,
    var(--slate-blue) 0,
    var(--royal-blue) 100%
  );
  border-radius: 0 0 32px 32px;
  box-shadow: 0 30px 60px hsla(224, 82%, 58%, .15);
}

.card__summary {
  padding: 30px;
  padding-block-start: 24px;
}

.card__title {
  margin: 0;
  margin-block-end: 24px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
}

.card__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin-inline: auto;
  margin-block-start: 0;
  margin-block-end: 24px;
  font-weight: 700;
  background-color: var(--violet-blue);
  background: linear-gradient(
    180deg,
    var(--violet-blue) 0,
    var(--violet-blue-transparent) 100%,
    var(--violet-blue-transparent) 100%
  );
  border-radius: 50%;
}

.card__result-number {
  font-weight: 800;
  font-size: 56px;
  color: white;
}

.card__description {
  margin: 0;
  margin-block-end: 8px;
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.card__text {
  margin-block: 0;
  margin-inline: 16px;
}

.card__list {
  display: grid;
  gap: 16px;
  margin: 0;
  margin-block-end: 24px;
  padding: 0;
  list-style: none;
}

.card__item {
  display: flex;
  justify-content: space-between;
  padding: 17px 16px 18px 48px;
  color: hsl(var(--item-color));
  background-color: hsla(var(--item-color), .05);
  background-repeat: no-repeat;
  background-position: 18px center;
  background-size: 20px;
  border-radius: 12px;
}

.card__item--reaction {
  --item-color: var(--red);
}

.card__item--memory {
  --item-color: var(--yellow);
}

.card__item--verbal {
  --item-color: var(--green);
}

.card__item--visual {
  --item-color: var(--blue);
}

.card__item-result {
  color: hsla(var(--dark-blue), .5);
}

.card__item-result-number {
  color: hsl(var(--dark-blue));
}

.card__button {
  display: block;
  padding: 17px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: hsl(var(--dark-blue));
  border-radius: 128px;
}

.card__button:hover,
.card__button:focus {
  background-image: linear-gradient(
    180deg,
    var(--slate-blue) 0,
    var(--royal-blue) 100%
  );
}

@media (min-width: 768px) {

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 736px;
    min-height: 512px;
    margin-inline: auto;
    border-radius: 32px;
    box-shadow: 0 30px 60px hsla(224, 82%, 58%, .15);
  }

  .card__main {
    padding-block-start: 40px;
    border-radius: 32px;
    box-shadow: none;
  }

  .card__summary {
    padding: 40px;
    padding-block-start: 40px;
  }

  .card__title {
    margin-block-end: 28px;
    font-size: 24px;
  }

  .card__result {
    width: 200px;
    height: 200px;
    margin-block-start: 35px;
    margin-block-end: 28px;
    padding-block-start: 0;
  }

  .card__result-number {
    margin-block-end: 4px;
    font-size: 72px;
    line-height: 1;
  }

  .card__description {
    margin-block-end: 14px;
    font-size: 32px;
  }

  .card__text {
    margin-inline: 20px;
  }

  .card__list {
    margin-block-end: 40px;
  }
}
