@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/hanken-grotesk-500.woff2') format('woff2'),
    url('../fonts/hanken-grotesk-500.woff') format('woff');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/hanken-grotesk-700.woff2') format('woff2'),
    url('../fonts/hanken-grotesk-700.woff') format('woff');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/hanken-grotesk-800.woff2') format('woff2'),
    url('../fonts/hanken-grotesk-800.woff') format('woff');
}
